* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background: rgba(238,237,230,1);
  justify-content: center;
  align-items: center;

}
.v1_2 {
  display: flex;
  width: 100%;
  height: 1024px;
  background: rgba(238,237,230,1);
  opacity: 1;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
}
.v6_5 {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 800px;
  background: rgba(213,210,184,1);
  opacity: 1;
  top: 212px;
  left: 492px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  justify-content: center;
  margin-top: 15%;
}
.button {
  width: 331px;
  height: 100px;
  background-color: rgba(30,185,85,1);
  padding: 10px 10px;
  margin-bottom: 50%;
  padding-top: 10%;
  top: 416px;
  left: 75px;
  border: none;
  justify-self: center;
  text-align: center;
  font-size: xx-large;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v6_76 {
  display: flex;
  width: 300px;
  color: rgba(255,255,255,1);
  position: relative;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  margin-left: 25%;

}
.v6_6 {
  display: flex;
  color: rgba(0,0,0,1);
  position: relative;
  font-family: Inter;
  font-weight: 900;
  font-size: 70px;
  opacity: 1;
  justify-content: center;
  justify-self: center;
  margin-top: 5%;
  margin-bottom: 15%;
  text-align: center;
}
.v6_106 {
  display: flex;
  width: 234px;
  height: 234px;
  background: url("v6_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-self: center;
  justify-content: center;
  margin-top: 5%;
  align-self:baseline;
  margin-left: 30%;
}
