<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link href="../static/home.css" rel="stylesheet" />
  <title>Spotify Sign In</title>
</head>

<body>
  <div class="v1_2">
    <div class="v6_5">
      <div class="v6_106"></div>
      <div class="v6_6">
        Sign in
        with Spotify
      </div>
      <div class="v6_76">
        <button type="button" class="button" onclick=spotifyLoginWindow>Sign in</button>
      </div>
    </div>
  </div>
</body>

</html>