<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-------------------------------------------------------->
    <!-- Firebase 8 Library related CSS, JS, JQuery go here -->
    <!-------------------------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>

    <!-- FirebaseUI for Firebase Auth -->
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.css" />

    <!-- Other libraries and styles -->
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="container">
        <h1>Please login to continue!</h1>
        <div id="firebaseui-auth-container"></div>
        <div id="loader">Loading...</div>
    </div>

    <!-- Our JavaScript -->
    <script src="../scripts/firebaseAPI_nwHacks2024.js"></script>
    <script src="../scripts/authentication.js"></script>
</body>

</html>